<mat-form-field color="primary" appearance="fill">
  <mat-label>ID (for updating)</mat-label>
  <input matInput *ngIf="isShown" type="number" [(ngModel)]="FoodItem.id">
</mat-form-field>

<mat-form-field color="primary" appearance="fill">
  <mat-label>Name:</mat-label>
    <input matInput [(ngModel)]="FoodItem.name">
  </mat-form-field>

  <mat-form-field color="primary" appearance="fill">
    <mat-label>Title:</mat-label>
    <input matInput [(ngModel)]="FoodItem.title">
  </mat-form-field>

  <mat-form-field color="primary" appearance="fill">
    <mat-label>Type:</mat-label>
    <input matInput [(ngModel)]="FoodItem.type">
  </mat-form-field>

  <mat-form-field color="primary" appearance="fill">
    <mat-label>Author:</mat-label>
    <input matInput [(ngModel)]="FoodItem.author">
  </mat-form-field>

  <mat-form-field color="primary" appearance="fill">
    <mat-label>Image URL:</mat-label>
    <input matInput [(ngModel)]="FoodItem.imageLink">
  </mat-form-field>

  <mat-form-field color="primary" appearance="fill">
    <mat-label>Body:</mat-label>
    <textarea matInput [(ngModel)]="FoodItem.body"></textarea>
  </mat-form-field>
  <mat-form-field color="primary" appearance="fill">
    <mat-label>Tags:</mat-label>
    <input matInput [(ngModel)]="tempTags">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="+(FoodItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() " >
    Add new content
  </button>